{% extends 'template.html' %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/aes-js/3.1.2/index.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/big-integer/1.6.41/BigInteger.min.js"></script>
<script src="public/js/dashboard.js"></script>
{% endblock %}

{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
<div data-role="appbar" style="height: 8%" data-expand-point="md">
  <div style="width: 1%"></div>
  <img src="/public/images/favicon.jpg" style="height: 90%; padding-right: 0.5%" alt="PassManage">
  <div style="color: rgb(0, 78, 109); font-size: 130%; cursor: default">PassManage</div>
  <div style="width: 5%"></div>
  <input type="text" style="width:75%" data-role="input" data-search-button="true">
  <div style="width: 5%"></div>
  <div class="pos-relative">
    <a class="brand dropdown-toggle" style="cursor:pointer">
      <img id="user" style="height: 90%; padding-right: 4%" alt="User">
      <span id="welcome" style="color: rgb(0, 78, 109); font-size: 130%"></span>
    </a>
    <ul class="d-menu" data-role="dropdown">
      <li onclick="clearSession()"><a href="/">Sign Out</a></li>
    </ul>
  </div>
  <div style="width: 1%"></div>
</div>
<div style="padding-top:5%"></div>
<div id="vaultDisplay" class="grid" style="overflow-y:auto; overflow-x:hidden; width:100%">
  <div id="row1" class="row">

  </div>
</div>
<div id="message"></div>
<button class="button primary" onclick="openAddSite()">Add Site</button>
<button class="button primary" onclick="clearDialog()">Clear Vault</button>
<script>
  document.body.onload = initialize;
</script>
{% endblock %}