{% extends 'template.html' %}

{% block scripts %}
<script src="public/js/login.js"></script>
{% endblock %}

{% block style %}
<style>
.login-form {
  border-radius: 10px;
  background-color: rgb(248, 254, 255);
}
.login-title {
  background-color: rgb(253, 200, 101);
}
</style>
{% endblock %}

{% block content %}
<div class="grid">
  <div class="row">
    <div class="cell-4 offset-4">
    </div>
  </div>
  <div class="row">
    <div class="cell-4 offset-4">
      <div class="container p-20
      "></div>
      <div class="container border bd-cyan border-size-2 p-15 login-form">
        <div class="container login-title">
          <h2 class="text-center p-5">Log In</h2>
        </div>
        <input name="username" type="text" class="username" placeholder="Username"/>
        <div class="p-1"></div>
        <input name="password" type="password" class="password" placeholder="Password"/>
        <div class="p-1" style="color: red" id="error"></div>
        <div style="text-align: center">
          <button class="button primary pl-12 pr-12" onclick="login()">Log In</button>
        </div>
        <div style="text-align: center">
          <a href="/signUp">New User?</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}