<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/jpg" href="/public/images/favicon.jpg"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Pass Manage</title>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
    <input type="hidden" name="csrf" value="{{ csrfToken }}" />
    <script>var csrf_token = document.getElementsByName("csrf")[0].value.toString();</script>
    <script src="public/js/helper.js"></script>
    {% block scripts %}
    {% endblock %}
    {% block style %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
  </body>
</html>